In [2]:

a=["prashant","rajput","chauhan"]

In [3]:
print(a)

['prashant', 'rajput', 'chauhan']

In [4]:
a.append("hello")

In [5]:
a

['prashant', 'rajput', 'chauhan', 'hello']

In [6]:
a.extend("tanu")

In [7]:
a

['prashant', 'rajput', 'chauhan', 'hello', 't', 'a', 'n', 'u']

In [11]:

a.copy(1)

TypeError: list.copy() takes no arguments (1 given)

In [12]:
a

['prashant', 'rajput', 'chauhan', 'hello', 't', 'a', 'n', 'u']

In [13]:
a.copy()

['prashant', 'rajput', 'chauhan', 'hello', 't', 'a', 'n', 'u']

In [14]:
a.copy(o)

NameError: name 'o' is not defined

In [17]:
p= a.copy()

In [18]:
print(P)

NameError: name 'P' is not defined

In [19]:
print(p)

['prashant', 'rajput', 'chauhan', 'hello', 't', 'a', 'n', 'u']

In [20]:
id(p)

2510653312128

In [21]:
id(a)

2510640553152

In [22]:
p=u

NameError: name 'u' is not defined

In [23]:
p==u

NameError: name 'u' is not defined

In [27]:
p.insert(1,"shikher")

In [28]:
print(p)

['prashant', 'shikher', 'rajput', 'chauhan', 'hello', 't', 'a', 'n', 'u']

In [29]:
p.pop()

'u'

In [36]:
p.remove("hello")

In [32]:
p.remove('4')

ValueError: list.remove(x): x not in list

In [1]:
p

NameError: name 'p' is not defined

In [2]:
a=["prashant","rajput","chauhan"]
a.append("mohit,kumar")

In [3]:
print(A)

NameError: name 'A' is not defined

In [4]:
print(a)

['prashant', 'rajput', 'chauhan', 'mohit,kumar']

In [5]:
a.extend("ayush, utkrarsh")

In [7]:
print(a)

['prashant', 'rajput', 'chauhan', 'mohit,kumar', 'a', 'y', 'u', 's', 'h', ',', ' ', 'u', 't', 'k', 'r', 'a', 'r', 's', 'h']

In [8]:
a

['prashant',
 'rajput',
 'chauhan',
 'mohit,kumar',
 'a',
 'y',
 'u',
 's',
 'h',
 ',',
 ' ',
 'u',
 't',
 'k',
 'r',
 'a',
 'r',
 's',
 'h']

In [9]:
a[5]

'y'

In [10]:
a.remove("kumar")

ValueError: list.remove(x): x not in list

In [13]:
a.pop()

'h'

In [15]:
a.remove("ayush")

ValueError: list.remove(x): x not in list

In [16]:
print(a)

['prashant', 'rajput', 'chauhan', 'mohit,kumar', 'a', 'y', 'u', 's', 'h', ',', ' ', 'u', 't', 'k', 'r', 'a', 'r', 's']

In [17]:
a.remove("prashant")

In [18]:
print(a)

['rajput', 'chauhan', 'mohit,kumar', 'a', 'y', 'u', 's', 'h', ',', ' ', 'u', 't', 'k', 'r', 'a', 'r', 's']

In [21]:
a[2]

'mohit,kumar'

In [22]:
a[4]

'y'

In [25]:
a.append("29,50,76")

In [26]:
a

['rajput',
 'chauhan',
 'mohit,kumar',
 'a',
 'y',
 'u',
 's',
 'h',
 ',',
 ' ',
 'u',
 't',
 'k',
 'r',
 'a',
 'r',
 's',
 '29,50,76']

In [27]:
print(a)

['rajput', 'chauhan', 'mohit,kumar', 'a', 'y', 'u', 's', 'h', ',', ' ', 'u', 't', 'k', 'r', 'a', 'r', 's', '29,50,76']

In [28]:
a[2:3]

['mohit,kumar']

In [29]:
a[7]

'h'

In [30]:
a.sort()

In [32]:
print(a)

[' ', ',', '29,50,76', 'a', 'a', 'chauhan', 'h', 'k', 'mohit,kumar', 'r', 'r', 'rajput', 's', 's', 't', 'u', 'u', 'y']

In [41]:
a[9:11]

['r', 'r']

In [34]:
a[10:12]

['r', 'rajput']

In [35]:
[10:11]

['r']

In [43]:
a[12:14]

['s', 's']

In [44]:
print(A)

NameError: name 'A' is not defined

In [45]:
print(a)

[' ', ',', '29,50,76', 'a', 'a', 'chauhan', 'h', 'k', 'mohit,kumar', 'r', 'r', 'rajput', 's', 's', 't', 'u', 'u', 'y']

In [46]:
a[15:17]

['u', 'u']

In [48]:
a.append(["12,48,48"])

In [49]:
print(a)

[' ', ',', '29,50,76', 'a', 'a', 'chauhan', 'h', 'k', 'mohit,kumar', 'r', 'r', 'rajput', 's', 's', 't', 'u', 'u', 'y', ['12,48,48']]

In [50]:
a.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [55]:
a.remove("mohit,kumar")

In [56]:
print(a)

[' ', ',', '29,50,76', 'a', 'a', 'chauhan', 'h', 'k', 'r', 'r', 'rajput', 's', 's', 't', 'u', 'u', 'y', ['12,48,48']]

In [62]:
a[17]

['12,48,48']

In [67]:
a[17][0]

'12,48,48'

In [68]:
a[17:19]

[['12,48,48']]

In [69]:
a[17:18]

[['12,48,48']]

In [71]:
a[17]

['12,48,48']

In [72]:
a[2]

'29,50,76'

In [73]:
a.clear()

In [74]:
a

[]

In [75]:
a.append("prashant")

In [76]:
a.extend("rajput")

In [77]:
a.append([1456567])

In [78]:
print(a)

['prashant', 'r', 'a', 'j', 'p', 'u', 't', [1456567]]

In [92]:
a.insert(2,"khalhai  ")

In [93]:
print(a)

['prashant', 'r', 'khalhai  ', 'khalhai  ', 'a', 'j', 'p', 'u', 't', [1456567]]

In [97]:
a.insert(2,"15678")

In [101]:
print(a)

['prashant', 'r', '15678', 'khalhai  ', 'khalhai  ', 'a', 'j', 'p', 'u', 't', [1456567]]

In [110]:
a.remove('r')

In [111]:
a.remove("15678")

In [113]:
print(a)

['prashant', 'khalhai  ', 'khalhai  ', 'a', 'j', 'p', 'u', 't', [1456567]]

In [114]:
a.remove("prashant")

In [115]:
print(a)

['khalhai  ', 'khalhai  ', 'a', 'j', 'p', 'u', 't', [1456567]]

In [118]:
a.pop()

[1456567]

In [121]:
a.pop()

'p'

In [122]:
a.pop()

'j'

In [124]:
a.insert(4,"abe ")

In [125]:
print(a)

['khalhai  ', 'khalhai  ', 'a', 'abe ']

In [126]:
a.insert(2["chlna"])

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\Gaurav\AppData\Local\Temp\ipykernel_3124\2506053503.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  a.insert(2["chlna"])

TypeError: 'int' object is not subscriptable

In [132]:
a.insert(1,["1235467"])

In [133]:
print(a)

['khalhai  ', ['1235467'], 'khalhai  ', 'a', 'abe ']

In [134]:
a[2][3]

'l'

In [136]:
a[1]

['1235467']

In [139]:
a[2][4][0]

'h'