 DATA FILE TRANFERS  NA OTHER FILE 
 CSV  INTO  SQL | SQL  INTO CSV
 CSV TO EXCEL| EXCEL INTO CSV

In [1]:
import pymsql
import sqlalchemy

ModuleNotFoundError: No module named 'pymsql'

In [ ]:
pip install pymysql

In [ ]:
pip install sqlalchemy

In [ ]:
eng=sqlalchemy.create_engine("mysql+pymysql://root:sunita@localhost/will")
eng

In [ ]:
 import pandas as pd
df=pd .read_sql("select* from google",eng)
df

In [ ]:
df=pd.DataFrame(['roll','343',"himani",332434])
df

In [ ]:
df["salary"],axis=1

In [ ]:
df

sql  into excel data transfer

In [ ]:
df.to_excel("E:/ student.xlsx",sheet_name='cs',index=False)
df

In [ ]:
df=pd.read_csv("E:/scientist/dataset/analysis/IPL Matches 2008-2020.csv")
df

In [ ]:
eng=sqlalchemy.create_engine("mysql+pymysql://root:sunita@localhost/will")
eng
df.to_sql(name="ipl",if_exists='fail',con=eng)
eng

In [ ]:
df.to_sql(name="ipl",if_exists='append',con=eng)

In [ ]:
df.to_excel("E:/IPL.xlsx")
df

csv into sql data transfers

In [ ]:
df= pd.read_csv("E:/scientist/dataset/analysis/clothes3.csv")
df

In [ ]:
df.to_sql(name="colthes3",if_exists="fail",con=eng)

csv file into excel

In [ ]:
df.to_excel("E:/cothes5.xlsx")
df

excel file into csv

In [ ]:
df.to_csv("e:/nfhabwuf.csv")
df

In [ ]:


import pandas as pd

In [ ]:
df=pd.DataFrame()

In [ ]:
df=pd.DataFrame([100,4000,"kaliya"],[102,5000,"thakur"])

In [ ]:
print(df)

In [ ]:
df=pd.DataFrame([[100,4000,"kaliya"],[102,5000,"thakur"]],columns=["roll",'salary','name'])

In [ ]:
(df)

In [ ]:
df=pd.DataFrame([[100,4000,"kaliya"],[102,5000,"thakur"]],index=['p1','p2'])
df

1.pd.read_excel
2.pd.read_csv
3.pd.read_html
4.pd.read_josn
5.pd.read_sql

In [ ]:
import pandas as pd

In [ ]:
pip  install openpyxl

In [ ]:
pd.read_excel("E:/scientist/dataset/analysis/players.xlsx")

In [ ]:
pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls")

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",nrows=100)
p

In [2]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",nrows=100,skiprows=[1,2,3,4])
p

NameError: name 'pd' is not defined

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",nrows=100,skiprows=range(1,4))
p

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols=['Title','Year',])
p

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols=['Title','Year','Country'])
p

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols=['Title','Year','Budgut'])
p

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols=['Year','Country','Title'],nrows=10,skiprows=[2])
p

In [ ]:
import pandas as pd
df=pd.read_csv("E:/scientist/dataset/analysis/restaurant.csv")
df

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",nrows=200,skiprows=2)
p

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",header=None,names=['name','movies name','rating'])
print(p)

In [ ]:
p=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls")
p.keys()

In [ ]:
p.columns

In [ ]:
p.add

In [ ]:
p.abs

In [ ]:
k=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls")
k

In [ ]:
print( k.count)

In [ ]:
k=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols=['Title','Year','Duration'])
k

In [ ]:
I=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols='A:B')
I

In [ ]:
k=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols='A,B,D')
k

In [ ]:
k=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols='A , B')
k

In [ ]:
k.transpose()

In [ ]:
k.update(k)

In [ ]:
k

In [ ]:
pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols='A:D')

In [ ]:
k.Category.shape

In [ ]:
k.Category.size

In [ ]:
k.Title.size

In [ ]:
k.iloc[[1]]

In [ ]:
k.iloc[1]

In [ ]:
k.loc[[2]]

In [ ]:
k.transpose

In [ ]:
k.update

In [ ]:
k=pd.read_excel("E:/scientist/dataset/analysis/movie_new.xls",usecols=["Actor 1"])
k

In [ ]:
k.loc[2]

In [ ]:
k.iloc[[2]]

In [ ]:
import pandas as pd
a=pd.read_csv("e:/scientist/dataset/analysis/restaurant.csv")
a

In [ ]:
a[["day","gender","time"]]

In [ ]:
a[["total_bill","tip","time"]]

In [ ]:
a.head(23)   # return new df of first 5 rows but   munnal hum  putting this values

In [ ]:
a.head(2)

In [ ]:
a.tail(2)   ##  return new data but munnal values putting in the tail

In [ ]:
a.tail()

In [ ]:
a.sample(3)

In [ ]:
a.sample()

In [ ]:
a.sample(frac=.2).shape

In [ ]:
a.sample(frac=.2).size

In [ ]:
a.sample(n=20,replace=True)

In [ ]:
a.select_dtypes(include='float')

In [ ]:
a.select_dtypes(exclude='float')

In [ ]:
a.select_dtypes(include=['float','int'])

In [ ]:
a.select_dtypes(exclude=['float','int'])

In [ ]:
a.select_dtypes(include=['float','int']).shape ## three row and all col

In [ ]:
a.select_dtypes(exclude=['float','int']).shape # four row and all col

In [ ]:
a.include=("object")

In [ ]:
a[a['day']=='Sun']

In [ ]:
a[a['gender']=='Male']

In [ ]:
a[a['gender']=='Female']

In [ ]:
a[a['time']=='Dinner']

In [ ]:
a[a['time']=='Lunch']

In [ ]:
a.value_counts

In [ ]:
a.value_counts(['day'])

In [ ]:
a[(a['day']=='Sun') & (a['time']=='Dinner')].shape

In [ ]:
a[(a['day']=='Sat') & (a['time']=='Dinner')].shape

In [ ]:
a[(a['day']=='Sun') & (a['gender']=='Male')].shape

In [ ]:
a[(a['day']=='Sun') & (a['time']=='Lunch') & (a['gender']=='Male')].shape

In [ ]:
a[(a['day']=='Sun') & (a['time']=='Dinner') & (a['gender']=='Male')].shape

In [ ]:
a[(['total_bill'])].head()

In [ ]:
a[(['total_bill'])].tail()

In [ ]:
a

In [ ]:
a[(a['smoker']=='Yes')&(a["gender"]=='Male')&(a['day']=='Sun')].shape

 how many are the sunday    male and   smoker   pepole

In [ ]:

a[(a['smoker']=='Yes')&(a["gender"]=='Female')&(a['day']=='Sun')].shape

How many are the sunday female and smoker pepole

In [ ]:
a[(a['smoker']=='Yes')&(a["gender"]=='Male')&(a['day']=='Sun')].shape

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("E:/scientist/dataset/analysis/restaurant.csv")
df

In [ ]:

np=df.groupby(by=["day","time",'gender'])[["total_bill"]].count()
np

In [15]:
import pandas  as pd
df=pd.read_csv("E:/scientist/dataset/classification/fruits_svc.csv")

In [16]:

df

    diameter  weight FruitName
0        3.0      30    Banana
1        6.0     100     Apple
2        6.1      95    Banana
3        3.2      35    Banana
4        5.5      80     Apple
5        7.1     120     Apple
6        2.5      60    Banana
7        2.3     100    Banana
8        4.8      70     Apple
9        4.8      79    Banana
10       5.8     120     Apple
11       2.6      85    Banana
12       6.0     110     Apple
13       6.3      95    Banana
14       3.0      40    Banana
15       3.5      25    Banana
16       5.5     100     Apple
17       7.5     120     Apple
18       2.5      50     Apple
19       2.7      40    Banana
20       4.8      90     Apple
21       5.8      90    Banana

In [19]:
df.isnull().sum()

diameter     0
weight       0
FruitName    0
dtype: int64

In [21]:
df.dropna(axis=0,thresh=3)

    diameter  weight FruitName
0        3.0      30    Banana
1        6.0     100     Apple
2        6.1      95    Banana
3        3.2      35    Banana
4        5.5      80     Apple
5        7.1     120     Apple
6        2.5      60    Banana
7        2.3     100    Banana
8        4.8      70     Apple
9        4.8      79    Banana
10       5.8     120     Apple
11       2.6      85    Banana
12       6.0     110     Apple
13       6.3      95    Banana
14       3.0      40    Banana
15       3.5      25    Banana
16       5.5     100     Apple
17       7.5     120     Apple
18       2.5      50     Apple
19       2.7      40    Banana
20       4.8      90     Apple
21       5.8      90    Banana

In [115]:
df.at[1,'weight']
df.at[2,"fruit"]

'Banana'

In [24]:
df.value_counts().sum()

22

In [51]:
df.head()

   diameter  weight FruitName
0       3.0      30    Banana
1       6.0     100     Apple
2       6.1      95    Banana
3       3.2      35    Banana
4       5.5      80     Apple

In [52]:
df.diameter.max()

7.5

In [53]:
df.diameter.min()

2.3

In [54]:
df.diameter.count()

22

In [55]:
df.diameter.sum()

101.3

In [56]:
df.describe()    ## TO EASY

        diameter      weight
count  22.000000   22.000000
mean    4.604545   78.818182
std     1.666898   30.624665
min     2.300000   25.000000
25%     3.000000   52.500000
50%     4.800000   87.500000
75%     5.950000  100.000000
max     7.500000  120.000000

In [63]:
df.rename({"FruitName" :"fruit"},axis=1,inplace=True)

In [66]:
df

    diameter  weight   fruit
0        3.0      30  Banana
1        6.0     100   Apple
2        6.1      95  Banana
3        3.2      35  Banana
4        5.5      80   Apple
5        7.1     120   Apple
6        2.5      60  Banana
7        2.3     100  Banana
8        4.8      70   Apple
9        4.8      79  Banana
10       5.8     120   Apple
11       2.6      85  Banana
12       6.0     110   Apple
13       6.3      95  Banana
14       3.0      40  Banana
15       3.5      25  Banana
16       5.5     100   Apple
17       7.5     120   Apple
18       2.5      50   Apple
19       2.7      40  Banana
20       4.8      90   Apple
21       5.8      90  Banana

In [97]:
df[df["fruit"]=='Apple'].max()

diameter      7.5
weight        120
fruit       Apple
dtype: object

In [82]:
res=df.to_csv("report.csv")

In [99]:
df[df["fruit"]=="Banana"].max()

diameter       6.3
weight         100
fruit       Banana
dtype: object

In [101]:
df[df["fruit"]=="Banana"].count()

diameter    12
weight      12
fruit       12
dtype: int64

In [102]:
df[df['fruit']=="Apple"].count()

diameter    10
weight      10
fruit       10
dtype: int64